<h1>Welcome!</h1>
<p><b style="color:red">Your Steam-ID is not registered yet.</b> qlstats has no data about you.</p>
<p><span style="color:lightgreen">If you want to register</span>, please read and accept the following privacy policy:</p>

<%- include("privacy_policy_text"); %>


<p>
You can delete your account at any time if you no longer want qlstats to process your data, or select privacy settings that match your preferences.
</p>  

<form method="post">
  <div style="margin-top:2em">
    <h2>Register</h2>
    <input type="checkbox" name="policy" value="1" />I have read and accept the privacy policy<br />
    <input type="checkbox" name="age" value="1" />I am 16 years or older<br />
    <br />
    <button type="submit" name="action" value="register" class="button" style="background-color:darkgreen;color:white">Sign me up!</button>
  </div>
</form>
