<h1>Account deleted</h1>
On <%= player.delete_dt.toLocaleDateString(undefined, { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' }) %> you chose to delete your account.
<br/>As you were informed back then, you won't be able to re-register for a total period of 60 days.
<br/>This step is necessary to avoid abusive reset of ratings by repeated deleting + registering.
<p><b>Sorry!</b></p>
