<h2>Privacy Policy</h2>
Last update: 2018-05-16 (UTC)

<h3>Purpose of data processing</h3>
<ul>
  <li>Provide skill ratings about players to support matchmaking (team shuffling, server browsing)</li>
  <li>Provide indication if a player has been using cheats</li>
  <li>Provide leader boards based on skill ratings</li>
  <li>Provide players a match history showing how skill ratings got updated</li>
  <li>Provide server owners a match history showing the server activity</li>
  <li>Provide players a means of finding other players on servers</li>
  <li>Provide information to support an automated "QTV" video streaming system to join servers with highest rated players and switch POV</li>
</ul>

<h3>Data collected by qlstats</h3>
qlstats receives match statistics from registered Quake Live game servers and uses the Steam Server Browser API
to get live data of current games on these registered server. Players are identified by their Steam-ID.
<ul>
  <li>Match results (including weapon statistics)</li>
  <li>Skill ratings for various game types</li>
  <li>Nick names used by a player (aliases)</li>
  <li>Status information, i.e. if a player is a cheater or wants to stay untracked</li>
  <li>Global region (continent) of a player, based on the servers a player plays on</li>
  <li>Game server a player is currently playing on</li>
  <li>Version of the privacy policy accepted by a player</li>
</ul>

<p>For the purpose of keeping the site secure and operational, IP addresses may be temporarily written to log files. Logs will be kept no longer than 24 hours.</p>

<p>If you decide to delete your account, qlstats will keep your Steam-ID on record for <%=conf.reregisterCooldownDays%> days and will not let you sign-up again during this time to prevent abusive reset of your ratings.</p>

<p>
  qlstats does NOT know a player's real name, home address, e-mail address or ip-address.
  <br/>In your privacy settings you can choose to stay anonymous. In this case only your steam-id and current ratings are stored by qlstats, nothing else.
</p>


<h3>Data sharing</h3>
qlstats provides public access to specific personal data:
<ul>
  <li>Skill ratings for specific Steam-IDs (used by game server plugins for team composition).</li>
  <li>List of all players and their skill ratings who currently play on registered servers (used by QL server browsers to show server skill ratings) [optional]</li>
</ul>
Raw match data may be given to 3rd parties (i.e. game server owners), if they guarantee compliance with the General Data Protection Regulation. These 3rd parties are:
<ul>
  <li>currently none</li>
</ul>

<p>In addition to intended data sharing it is beyond the control of qlstats if 3rd parties scrape information from the publicly available web pages.</p>

<h3>Privacy settings</h3>
Registered players can set preferences about the information they want to share:
<ul>
  <li>skill rating, "cheater"-status: mandatory</li>
  <li>nick name, aliases: optional</li>
  <li>match history: optional</li>
  <li>locating players on servers ("now playing"): optional</li>
</ul>
