body { background-color: #222;}
body,p,td { font-family: Segoe UI, Tahoma, Helvetica, Sans-Serif;color: white; }
a, a:hover, a:active, a:visited { color: orange; }
a.owner, a.host, a.port, a.add { cursor: pointer; }
td { padding: 0 5px 0 5px;}
td.busy { color: greenyellow; }
td.connected { color: green; }
td.connecting { color: gray; }
td.badPassword { color: orange; }
td.disconnected { color: red; }
#serverList { margin-top: 50px; }
#addForm, #editForm { display: none;position: fixed;top: 30px;right: 30px;width: 600px;min-height: 300px;background-color: #444;padding: 20px;}
div.button {cursor: pointer; padding: 5px 20px 5px 20px;display: inline-block;background-color: #888;margin-right: 20px;}
.buttons { margin-top: 40px; }
#addStatusText, #editstatusText { margin-top: 20px;}
div.button.success { background-color: #080;}
div.button.error { background-color: #800;}
.mtop td { padding-top: 15px; }
#panels { float: right;display: none;font-size: small;}
#panels span { font-size:large; }
#panels a { color: yellow; }
h1>a { color: inherit;text-decoration: none;}
